<div class="container">
  <h1 style="text-align:center">iCentennial Students List</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <td>Student Number</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Address</td>
        <td>City</td>
        <td>Phone Number</td>
        <td>Email</td>
      </tr>
    </thead>
    <ng-container *ngIf="students?.length">
      <tr *ngFor="let s of students">
        <td>{{ s.studentNumber }}</td>
        <td>{{ s.firstName }}</td>
        <td>{{ s.lastName }}</td>
        <td>{{ s.address }}</td>
        <td>{{ s.city }}</td>
        <td>{{ s.phoneNumber }}</td>
        <td>{{ s.email }}</td>
        <td><a [routerLink]="'/students/view/'+ s.studentNumber">Show</a></td>
      </tr>
    </ng-container>
  </table>
