.body {
    margin-left: auto;
    margin-right: auto;
    background: #DDDDFF;
}
ng-sidebar {
    background: red;
    width: 13rem;
}

.ng-sidebar__content {
    background: black;
}

#sideNavPullout {
    background-color: #343a40;
}

#sideNavPullout li {
    padding-left: 1em;
    padding-right: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #eeeeee;
}

ng-sidebar__backdrop {
    background-color:violet;
}

.contentClass {
    background-color:red;
}
