<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
    <button #toggleSidebar type="button" (click)="_toggleSidebar()" class="nav-item nav-link btn outline-success my-sm-0">
      <span [ngClass]="_opened? 'fa fa-arrow-left' : 'fa fa-bars'"></span>
    </button>
</nav>
<div class="body">
  <ng-sidebar-container style="height: 100vh;">
    <ng-sidebar 
      (onOpenStart)="onOpenStart()"
      (onCloseStart)="onOpenStart()"
      [(opened)]="_opened" 
      position="left" 
      closeOnClickOutside="true" 
      mode="push">

      <ul #drawer id="sideNavPullout" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/Home"]'>
            <span class="fa fa-home"></span> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/Profile"]'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/Students"]'>Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/Courses"]'>Courses</a>
        </li>
      </ul>
    </ng-sidebar>
    <div #sidebarContent ng-sidebar-content>
      <!-- <button type="button" class="menu" (click)="_toggleSidebar()" class="btn btn-default btn-lg">
                <span [ngClass]="_opened? 'fa fa-arrow-left' : 'fa fa-bars'"></span>
              </button> -->
      <router-outlet>

      </router-outlet>
    </div>
  </ng-sidebar-container>
</div>