<!--The content below is only a placeholder and can be replaced.-->
<ng-sidebar-container style="height: 100vh;">
  <ng-sidebar [(opened)]="_opened" position="left" closeOnClickOutside="true">
    <button style="opacity:0" type="button" class="menu" (click)="_toggleSidebar()" class="btn btn-default btn-lg">
      <span [ngClass]="_opened? 'fa fa-arrow-left' : 'fa fa-bars'"></span>
    </button>
    <ul id="sideNavPullout" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Home"]'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Profile"]'>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/Students"]'>Students</a>
      </li>
      <li routerLink="/Courses">
        <a class="nav-link" [routerLink]='["/Courses"]'>Courses</a>
      </li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
      <button type="button" class="menu" (click)="_toggleSidebar()" class="btn btn-default btn-lg">
          <span [ngClass]="_opened? 'fa fa-arrow-left' : 'fa fa-bars'"></span>
        </button>
    <router-outlet>

    </router-outlet>
  </div>
</ng-sidebar-container>