<div class="container">
  <h1 style="text-align:center">iCentennial Course List</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <td>Course Code</td>
        <td>Course Name</td>
        <td>Section</td>
        <td>Semester</td>
        <td>Students</td>
      </tr>
    </thead>
    <ng-container *ngIf="courses?.length">
      <tr *ngFor="let course of courses">
        <td>{{ course.courseCode }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.section }}</td>
        <td>{{ course.semester }}</td>
        <td><a [routerLink]="'/courses/view/'+ course.id">Show</a></td>
      </tr>
    </ng-container>
  </table>

  <app-add-course-modal #modal (courseCreate)="createCourse($event)"></app-add-course-modal>
  <button class="btn btn-lg btn-primary" (click)="modal.open()">Create Course</button>
</div>
