<div id="design">
  <table style="width:500px" align="center">
    <tr>
      <td class="rightAlign">Student Number</td>
      <td class="leftValues" value="">300866685</td>
    </tr>
    <tr>
      <td class="rightAlign">First Name</td>
      <td class="leftValues" value="">Amanpreet</td>
    </tr>
    <tr>
      <td class="rightAlign">Last Name</td>
      <td class="leftValues" value ="">Brar</td>
    </tr>
    <tr>
      <td class="rightAlign">Address</td>

      <td class="leftValues" value="">58 quietbrook Crescent </td>
    </tr>
    <tr>
      <td class="rightAlign">City</td>

      <td class="leftValues" value="">Toronto</td>
    </tr>
    <tr>
      <td class="rightAlign">Phone Number</td>

      <td class="leftValues" value="">6477036725</td>
    </tr>
    <tr>
      <td class="rightAlign">Email</td>

      <td class="leftValues" value="">aman@gmail.com</td>
    </tr>
  </table>
  <br>
  <ul>Courses
    <li>Advanced Graphics</li>
    <li>Emerging Technologies</li>
    <li>whatever</li>
  </ul>


</div>
