<div id="design">
  <table style="width:100%">
    <tr>
      <td class="rightAlign">Student Number</td>
      <td>300866685</td>
    </tr>
    <tr>
      <td class="rightAlign">Password</td>
      <td></td>
    </tr>
    <tr>
      <td class="rightAlign">First Name</td>
      <td>Amanpreet</td>
    </tr>
    <tr>
      <td class="rightAlign">Last Name</td>
      <td>Brar</td>
    </tr>
    <tr>
      <td class="rightAlign">Address</td>
      <td>58 quietbrook Crescent </td>
    </tr>
    <tr>
      <td class="rightAlign">City</td>
      <td>Toronto</td>
    </tr>
    <tr>
      <td class="rightAlign">Phone Number</td>
      <td>6477036725</td>
    </tr>
    <tr>
      <td class="rightAlign">Email</td>
      <td>aman@gmail.com</td>
    </tr>
  </table>
</div>